$text-red: #d12136;
$text-white: #ffffff;
$text-light-black: #1a212f;
$text-black: #000000;
$text-gray: #48494d;
$bg-white: #ffffff;
$bg-gray: #F5F5F9;
$bg-red: #d12136;
$button-red: #d12136;
$button-dark-red: #bd0c21;
$button-white: #ffffff;
