.car-nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.car-nav__item {
  min-width: 167px;
  padding: 10px 13px 11px;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  border: 1px solid $border-gray;

  &--active {
    padding: 11px 14px 11px;
    background-color: $bg-red;
    color: $text-white;
    border: none;
  }
}
