.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.slider__item {
  display: none;

  &--active {
    display: block;
  }
}

.slider__controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.slider__img-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 434px;
  list-style: none;
}

.slider__button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid $border-gray;
  align-self: center;

  &:hover {
    border: 1px solid $border-black;
  }

  &:disabled,
  &[disabled] {
    opacity: 0.5;
  }
}
